{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
  Categories
{% endblock title %}


{% block body %}
  
  
  {% for category in categories %}
    <a href="{% url 'category' category.title %}">
      <div class="container">
        <div class="image">
          <img src="static/auctions/categoryimage/{{category.title}}.jpg" alt="{{category.title}}" width="200" height="200">
        </div>
        <div class="title">
          <p>{{ category.title }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
    

{% endblock body %}
  