{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <h2 class="mb-4">Active Listings</h2>
    {% for listing in listings %}
    <div class="listing border rounded shadow-sm p-3 mb-2 row">
        <div class="col-lg-3 image">
            <img src="{{listing.image_url}}" alt="{{listing.title}}">
        </div>
        <div class="col-lg-9 info">
            <h3>
                <a class="text-decoration-none" href="{% url 'listing' listing.id %}">
                    {{listing.title}}
                </a>
            </h3>
            
            <p><strong>Description: </strong>{{listing.description|truncatechars:15 }}</p>
            <p><strong>Category: </strong>{{listing.category }}</p>
            <p><strong>Starting bid: </strong>${{listing.starting_bid}}</p>
            <p><strong>Created: </strong>{{listing.created_date}}</p>
        </div>
    </div>
    {% endfor %}
</div>
        
{% endblock %}