{% extends "auctions/layout.html" %}


{% block title %}
  {{listing.title}}
{% endblock title %}
  

{% block body %}
  <div class="container">
    <div class="image">
        <img src="{{listing.image_url}}" alt="{{listing.title}}">
    </div>
    <div class="info">
        <h5>
            <a href="{% url 'listing' listing.id %}">
                {{listing.title}}
            </a>
        </h5>
        <p>{{listing.description|truncatechars:15 }}</p>
        <span>${{listing.starting_bid}}</span>
    </div>
  </div>

{% endblock body %}
  