{% extends "auctions/layout.html" %}


{% block title %}
  Watchlist
{% endblock title %}
  

{% block body %}

<div class="container">
  <h2 class="mb-4">Watchlist</h2>

  {% for listing in watchlist %}
  <div class="listing border rounded shadow-sm p-3 mb-2 row">
      <div class="col-lg-3 image">
        <img src="{{listing.image_url}}" alt="{{listing.title}}">
        <a class="btn btn-outline-danger text-decoration-none mt-2" href="{% url 'remove_watchlist' listing.id %}">Remove from Watchlist</a>
      </div>
      <div class="col-lg-9 info">
        <h4>
          <a class="text-decoration-none" href="{% url 'listing' listing.id %}">
              {{listing.title}}
          </a>
        </h4>
          <p><strong>Starting price:</strong> ${{listing.starting_bid}}</p>
          <p>
            {% for bid in bids %}

              {% if bid.for_listing == listing %}
                <strong>Your bid: </strong>${{bid.bid}}
              {% endif %}
              
            {% endfor %}
          </p>
          <p>
            {% for current_bid in current_bids %}
              
              {% if current_bid.for_listing == listing %}
                <strong>Current bid: </strong>${{current_bid.bid}} by {{current_bid.bidder}}
              {% endif %}
                
            {% endfor %}
          </p>
      </div>
  </div>
  {% empty %}
  <h4>No listings</h4>
  {% endfor %}

</div>
    
{% endblock body %}
  