{% extends "auctions/layout.html" %}


{% block title %}
  Watchlist
{% endblock title %}
  

{% block body %}

  {% for listing in watchlist %}
    <div class="container">
      <div class="image">
          <img src="{{listing.image_url}}" alt="{{listing.title}}">
      </div>
      <div class="info">
          <h5>
              <a href="{% url 'listing' listing.id %}">
                  {{listing.title}}
              </a>
          </h5>
          <p>{{listing.description|truncatechars:15 }}</p>
          <p><strong>Starting price:</strong> ${{listing.starting_bid}}</p>
          <p>
            {% for bid in bids %}
  
              {% if bid.for_listing == listing %}
                <strong>Your bid: </strong>{{bid.bid}}
              {% endif %}
              
            {% endfor %}
          </p>
          <p>
            {% for current_bid in current_bids %}
              
              {% if current_bid.for_listing == listing %}
                <strong>Current bid: </strong>{{current_bid.bid}}
              {% endif %}
                
            {% endfor %}
          </p>
      </div>
      <form class="remove_watchlist" method="post" action="{% url 'remove_watchlist' listing.id %}">
        {% csrf_token %}
        <button type="submit">Remove from Watchlist</button>
      </form>
      <br>
    </div>
  {% endfor %}
    
{% endblock body %}
  